
.mosaic-block {
	float:left;
	position:relative;
	overflow:hidden;
	/*width: 275px;
	height:172px;*/
	width: 275px;
	height: 235px;
	margin:10px;
	background:#435961 url(../img/progress.gif) no-repeat center center;
	border: none;
	/*-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);*/
}

.mosaic-backdrop {
	display:none;
	position:absolute;
	top:0;
	height:100%;
	width:100%;
	background:#435961;
}

.mosaic-overlay {
	display:none;
	z-index:1;
	position:absolute;
	width:100%;
	height:100%;
	background:#111;
}

.bar .mosaic-overlay {
	bottom:-100px;
	height:100px;
	/*background:url(../img/bg-black.png);*/
	background-color: #C7DCED;
	opacity: 0.8;
}
