/*******************************************************************************

  MAIN.CSS CONTAINS THE STYLE FOR MOBILES.
    HERE IS THE STYLING FOR SCREENS LARGER THAN MOBILE

    Mobiles typically have a width of 432px or less.
    Tablets have a typical range between 600 and 800px.

*******************************************************************************/



/*******************************************************************************
  FOR TABLETS
*******************************************************************************/

@media screen and (min-width: 660px) {

  /*****************************************************************************
    CONTACT: TWO-COLUMN LAYOUT
  *****************************************************************************/

  #primary {
    width: 55%;
    float: left;
  }

  #secondary {
    width: 35%;
    float: right;
  }


  /*****************************************************************************
    WORK: CELLS SIT NEXT TO EACH OTHER, NOT ON TOP OF EACH OTHER
  *****************************************************************************/
  .work-label-cell {
      float: left;
      display: inline-block;
      width: 30%;
  }

  .work-cell {
      margin-left: 40%;
      /* width: 60%; */
      /* float: right; */
      text-align: left;
      /* display: inline-flex; */
  }



  /*****************************************************************************
    CONTACT: TWO-COLUMN LAYOUT
  *****************************************************************************/
  .profile-photo {
    /* float: left; */
    margin: 0 5% 20px 0;
  }
}




@media screen and (min-width: 660px) and (max-width: 999px) {
  /*****************************************************************************
    PORTFOLIO: THREE-COLUMN LAYOUT
  *****************************************************************************/


    /***************************************************************************
      NTH-CHILD: for the nth (in this case 4th) list
        item in gallery, apply 'clear:left;'
    ***************************************************************************/
  #gallery li:nth-child(3n) {
      clear: left;
  }
}


/*******************************************************************************
  FOR SMALL DESKTOPS
*******************************************************************************/

@media screen and (min-width: 800px) {

  /*****************************************************************************
    HEADER
  *****************************************************************************/

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 40%;
  }

  nav a.selected, nav a:hover {
    color: #497491;
  }

  h2 {
    margin-bottom: 20px;
  }

  header {
    border-bottom: 5px solid #497491; /* darker blue */
    margin-bottom: 60px;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 50%;
  }

  #primary p {
    text-align: left;
  }
}


/*******************************************************************************
  FOR LARGE DISPLAYS DESKTOPS
*******************************************************************************/

@media screen and (min-width: 1000px) {

/*****************************************************************************
  PORTFOLIO: THREE-COLUMN LAYOUT
*****************************************************************************/

  /***************************************************************************
    NTH-CHILD: for the nth (in this case 4th) list
      item in gallery, apply 'clear:left;'
  ***************************************************************************/
  #gallery li:nth-child(4n) {
      clear: left;
  }
}



/*******************************************************************************
SMILE ^___^ YOU DONE
*******************************************************************************/
